@{
    ViewData["Title"] = "SignUp";
}

@model SignUpDto
<div class="d-flex justify-content-center align-items-center vh-100 bg-grey">
    <div class="card shadow-lg rounded-4 p-4" style="width: 420px;">
        <h3 class="text-center mb-4">Kayıt Ol</h3>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger">

        </div>
         
        <form method="post" asp-controller="Register" asp-action="SignUp">
            <div class="form-group mb-3">
                <label for="UserName" class="mb-2" asp-for="UserName"></label>
                <input type="text" class="form-control rounded-pill" id="UserName" name="UserName" placeholder="Kullanıcı adınızı girin" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>

            <div class="form-group mb-3">
                <label for="Email" class="mb-2" asp-for="Email"></label>
                <input type="email" class="form-control rounded-pill" id="Email" name="Email" placeholder="ornek@mail.com" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="form-group mb-3">
                <label for="Phone" class="mb-2" asp-for="PhoneNumber"></label>
                <input type="tel" class="form-control rounded-pill" id="Phone" name="PhoneNumber" placeholder="05xx xxx xx xx" />
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>

            <div class="form-group mb-3">
                <label for="Password" class="mb-2" asp-for="Password"></label>
                <input type="password" class="form-control rounded-pill" id="Password" name="Password" placeholder="Şifre girin" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-group mb-4">
                <label for="ConfirmPassword" class="mb-2" asp-for="ConfirmPassword"></label>
                <input type="password" class="form-control rounded-pill" id="ConfirmPassword" name="ConfirmPassword" placeholder="Şifrenizi tekrar girin" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button type="submit" class="btn btn-outline-primary w-100 rounded-pill">Kayıt Ol</button>
        </form>
    </div>
</div>